---
layout: default
---

<div class="home">
        
    <ul class="post-list">
        {% for post in site.posts limit:5 %}
        <li>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            
            <p class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
                {% if post.author %} • {{ post.author }}{% endif %}
                {% if post.reading_time %} • {{ post.content | reading_time }}{% endif %}
            </p>
            
            {% if post.excerpt %}
            <div class="post-excerpt">
                {{ post.excerpt | strip_html | truncatewords: 50 }}
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    
</div>