<div class="table-container">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>CN Company</th>
          <th>FY2025 Capex</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Huawei</td>
          <td>$25B</td>
        </tr>
        <tr>
          <td>Baidu</td>
          <td>$23B</td>
        </tr>
        <tr>
          <td>ByteDance</td>
          <td>$20.6B</td>
        </tr>
        <tr>
          <td>Alibaba</td>
          <td>$17.5B</td>
        </tr>
        <tr>
          <td>Tencent</td>
          <td>$11B</td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong>$97.1B</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>US Company</th>
          <th>FY2025 Capex</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>AWS</td>
          <td>$100B</td>
        </tr>
        <tr>
          <td>Microsoft</td>
          <td>$80B</td>
        </tr>
        <tr>
          <td>Google</td>
          <td>$75B</td>
        </tr>
        <tr>
          <td>Meta</td>
          <td>$68B</td>
        </tr>
        <tr>
          <td>X</td>
          <td>$13B</td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong>$336B</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>