<table border="1">
  <thead>
    <tr>
      <th>Fuel Mix</th>
      <th>United States</th>
      <th>China</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Natural Gas</td>
      <td>43%</td>
      <td>4%</td>
    </tr>
    <tr>
      <td>Coal</td>
      <td>16%</td>
      <td>60%</td>
    </tr>
    <tr>
      <td>Nuclear</td>
      <td>19%</td>
      <td>5%</td>
    </tr>
    <tr>
      <td>Wind</td>
      <td>10%</td>
      <td>10%</td>
    </tr>
    <tr>
      <td>Hydro</td>
      <td>6%</td>
      <td>13%</td>
    </tr>
    <tr>
      <td>Solar</td>
      <td>4%</td>
      <td>8%</td>
    </tr>
  </tbody>
</table>