<table border="1">
  <thead >
    <tr >
      <th>Uranium Type</th>
      <th>Enrichment Level</th>
    </tr >
  </thead >
  <tbody >
    <tr >
      <td>Natural Uranium</td>
      <td><1%</td>
    </tr >
    <tr >
      <td>Low Enriched Uranium (LEU)</td>
      <td><5%</td>
    </tr >
    <tr >
      <td>High Assay Low Enriched Uranium (HALEU)</td>
      <td>5-20%</td>
    </tr >
    <tr >
      <td>High Enriched Uranium (HEU)</td>
      <td>>20%</td>
    </tr >
    <tr >
      <td>Weapons Grade</td>
      <td>90%</td>
    </tr >
  </tbody >
</table >
