<div class="table-container">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>CN Company</th>
          <th>Venture Funding</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>SenseTime</td>
          <td>$2.82 B</td>
        </tr>
        <tr>
          <td>Zhipu AI</td>
          <td>$1.40 B</td>
        </tr>
        <tr>
          <td>Moonshot AI</td>
          <td>$1.27 B</td>
        </tr>
        <tr>
          <td>Baichuan AI</td>
          <td>$1.04 B</td>
        </tr>
        <tr>
          <td>MiniMax</td>
          <td>$0.85 B</td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong>$7.4 B</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>US Company</th>
          <th>Venture Funding</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>OpenAI</td>
          <td>$57.9 B</td>
        </tr>
        <tr>
          <td>Anthropic</td>
          <td>$14.3 B</td>
        </tr>
        <tr>
          <td>xAI</td>
          <td>$12 B</td>
        </tr>
        <tr>
          <td>Scale AI</td>
          <td>$1.6 B</td>
        </tr>
        <tr>
          <td>Inflection AI</td>
          <td>$1.52 B</td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong>$87.3 B</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>